h1 {text-align: center;
color: black;
}
h2 {text-align: left;
  color: black;
  }
.img{ 
  display: block;
  margin:auto;
  max-width: 25px;
  max-height:25px;
}
.friends{ 
  display: block;
  margin:auto;
  max-width: 25%;
  max-height:25%;}
.button{
    border: none;
    color: white;
    padding: 32px;
    margin: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.center{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.background{ 
     background-image:url(https://media3.giphy.com/media/sULKEgDMX8LcI/giphy.webp?cid=ecf05e47ta8fdetptllkmbh89f7qil6ngwdo0c0rj3vh3lid&rid=giphy.webp&ct=g);
    background-size:100%;
    max-width:100%;}
.p1{text-align:center;
font-family:'Times New Roman', Times, serif;
font-size: 25px;
}
.p2{text-align:left;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
}
.p3{text-align:center;
font-family: Arial, Helvetica, sans-serif;
font-size:25px;
color:white;}
.Second_background{
  background-image: url(https://i.imgur.com/BwkVzdb.jpg);
  background-size:100%;
  width:100%;}
.h2_1{color:white;}
.text2{color:white;}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
ul{font-size:30px;
font-family: fantasy;
color:white;
}
.rock{text-align:left;
font-size: 25px;
}
.image_me {
  display: block;
  margin-left:45%;
  margin-right: 55%;
  width: 50%;
}